{% extends 'base.html' %}

{% block content %}
<style>
   h1 {
    margin-bottom: 50px;
   }
</style>
    <h1 align="center">{% block title %} {{ departments[0].dep_name }} {% endblock %}</h1>
 <!--   <span class="badge badge-primary">{{ departments[0].id_dep }}</span> -->

<table cellpadding="10" align="center" width="50%">
	<tr>
   <td valign="baseline" color="#333"><h4>Description:</h4></td>
    <td valign="baseline"><p>{{ departments[0].description }}</p></td>
	</tr>
	<tr>
   <td valign="baseline" color="#333"><h4>Average salary:</h4></td>
    <td valign="baseline"><p>{{ departments[2] }}</p></td>
	</tr>
	<tr>
    <td valign="baseline"><h4>Staff:</h4></td>
<td valign="baseline"><p>
    {% if departments[1] != "no employees" %}
		{% for dep_emp in departments[1] %}
			<p><a href="{{ url_for('employee.emp', emp_id=dep_emp.id_emp) }}">
                            {{ dep_emp.last_name }} {{ dep_emp.first_name }} 
			</a>
                            salary= {{ dep_emp.salary }}</p>
		{% endfor %}
    {% else %}
        no employees
    {% endif %}
 </p></td>
	</tr>
</table>



<form action="{{ url_for('department.dep_delete', id_dep=departments[0].id_dep) }}" method="POST">
    <input type="submit" value="Delete"
            class="btn btn-info float-right"
            onclick="return confirm('Are you sure you want to delete this department?')">
</form>
<button type="button"  class="btn btn-primary mr-1 float-right"
                data-toggle="modal" data-target="#modaledit">Edit</button>

<div class="list-unstyled list-inline"><a href="{{ url_for('department.dep_index') }}">
            <h2><i><u>Back to departments</u></i></h2></a></button>


<!-- Edit Department-->
<div id="modaledit" class="modal fade" role="dialog">
   <div class="modal-dialog">

      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update department</h4>
         </div>


         <div class="modal-body">
            <form action="{{url_for('department.dep_update', dep_id=departments[0].id_dep)}}" method="POST">
               <div class="form-group">
                  <label>Department name:</label>
                   <input type="hidden"  name="id_dep" value="{{request.form['id_dep'] or departments.id_dep}}">
                  <input type="text" class="form-control" name="dep_name" value="{{request.form['dep_name'] or departments.dep_name}}">
               </div>

               <div class="form-group">
                  <label>Description:</label>
	      <textarea name="description" placeholder="description" class="form-control">{{ request.form['description'] or departments.description }}</textarea>
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>
            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

{% endblock %}